<!DOCTYPE html>
<html>

<head>

</head>

<body>
    {% if option == "1" %}
        <form action="/lista_empleados">
            <h1>Buscar un empleado</h1>
            <p>Ingrese el documento del empleado:</p>

            <div>
                Documento: <input type="text" name="documento">
            </div>
        </form>
    {% elif option == "2" %}
        <form action="/lista_liquidaciones">
            <h1>Buscar una liquidación</h1>
            <p>Ingrese el ID del empleado:</p>

            <div>
                ID: <input type="text" name="id_empleado">
            </div>
        </form>
    {% elif option == "3" %}
        <form action="/crear_empleado">
            <h1>Insertar un empleado</h1>
            <p>Ingrese los datos del empleado:</p>

            <div>
                Nombre: <input type="text" name="nombre"><br>
                Documento: <input type="text" name="documento"><br>
                Salario Base: <input type="text" name="salario_base"><br>
                Fecha ingreso: <input type="text" name="fecha_ingreso"><br>
            </div>

            <div>
                <input type="submit" value="Enviar">
            </div>
        </form>
    {% elif option == "4" %}
        <form action="/crear_liquidacion">
            <h1>Insertar una liquidación</h1>
            <p>Ingrese los datos de la liquidación:</p>

            <div>
                ID Empleado: <input type="text" name="empleado_id"><br>
                Salario Base: <input type="text" name="salario_base"><br>
                Horas diurnas: <input type="text" name="horas_diurnas"><br>
                Horas nocturnas: <input type="text" name="horas_nocturnas"><br>
                Bonos extra: <input type="text" name="bonos_extra"><br>
                Deducción adicional: <input type="text" name="deduccion_adicional"><br>
            </div>

            <div>
                <input type="submit" value="Enviar">
            </div>
        </form>
    {% elif option == "5" %}
        <form action="/borrar_empleado">
            <h1>Borrar un empleado</h1>
            <p>Ingrese el id del empleado a eliminar:</p>

            <div>
                ID: <input type="text" name="id">
            </div>

            <div>
                <input type="submit" value="Enviar">
            </div>
        </form>
    {% elif option == "6" %}
        <form action="/borrar_liquidacion">
            <h1>Borrar una liquidación</h1>
            <p>Ingrese el ID de la liquidación a eliminar:</p>

            <div>
                ID: <input type="text" name="id">
            </div>

            <div>
                <input type="submit" value="Enviar">
            </div>
        </form>
    {% endif %}
</body>

</html>