<!DOCTYPE html>
<html>

<head>

</head>

<body>
    {% if option == "1" %}
        <form action="/lista_empleados">
            <h1>Buscar un empleado</h1>
            <p>Ingrese el documento del empleado:</p>

            <div>
                Documento: <input type="text" name="documento">
            </div>
        </form>
    {% elif option == "2" %}
        <form action="/lista_liquidaciones">
            <h1>Buscar una liquidación</h1>
            <p>Ingrese el ID del empleado:</p>

            <div>
                ID: <input type="text" name="id_empleado">
            </div>
        </form>
    {% elif option == "3" %}
        <form action="/insertar_empleado">
            <h1>Insertar un empleado</h1>
            <p>Ingrese los datos del empleado:</p>

            <div>
                <!--
                Nombre: <input type="text" name="nombre"><br>
                Documento: <input type="text" name="documento"><br>
                Cargo: <input type="text" name="cargo"><br>
                Salario: <input type="text" name="salario"><br>
                -->
            </div>
        </form>
    {% elif option == "4" %}
        <form action="/insertar_liquidacion">
            <h1>Insertar una liquidación</h1>
            <p>Ingrese los datos de la liquidación:</p>

            <div>
                <!--
                ID Empleado: <input type="text" name="id_empleado"><br>
                Mes: <input type="text" name="mes"><br>
                Año: <input type="text" name="anio"><br>
                Total Devengado: <input type="text" name="total_devengado"><br>
                Total Deducciones: <input type="text" name="total_deducciones"><br>
                -->
            </div>
        </form>
    {% elif option == "5" %}
        <form action="/modificar_empleado">
            <h1>Modificar un empleado</h1>
            <p>Ingrese el documento del empleado:</p>

            <div>
                <!--
                Documento: <input type="text" name="documento">
                -->
            </div>
        </form>
    {% elif option == "6" %}
        <form action="/modificar_liquidacion">
            <h1>Modificar una liquidación</h1>
            <p>Ingrese el ID de la liquidación:</p>

            <div>
                <!--
                ID Liquidación: <input type="text" name="id_liquidacion">
                -->
            </div>
        </form>
    {% endif %}
</body>

</html>