<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>
        <p>Búsqueda para el empleado con el documento: {{documento}}</p>

        <table>
            <thead style="font-weight: bold;">
                <tr>
                    <td>Nombre</td>
                    <td>Documento</td>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>{{empleado.nombre}}</td>
                    <td>{{empleado.documento}}</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>