<!DOCTYPE html>
<html>
    <head>
        <title>Calculador de Nómina</title>
    </head>

    <body>
        <h1>Calculador de Nómina</h1>

        <p>Que desea hacer? (Buscar, Insertar, Modificar):</p>
            <form action="/enviar">
                <div>
                    Opción: <select name="option">
                        <option value="1">Buscar Empleado</option>
                        <option value="2">Buscar Liquidación</option>
                        <option value="3">Insertar Empleado</option>
                        <option value="4">Insertar Liquidación</option>
                        <option value="5">Modificar Empleado</option>
                        <option value="6">Modificar Liquidación</option>
                        </select>
                </div>

                <div>
                    <input type="submit" value="Enviar">
                </div>
            </form>
    </body>

</html>